export DEV_HOSTNAME="127.0.0.1"
export INFRA_HOSTNAME="192.168.0.101"

export UI_PORT="2180"
export API_PORT="2181"
export GRAPHQL_PORT="2182"
export GATEWAY_PORT="2183"
export POSTGRES_PORT="2184"
export REDIS_PORT="2185"
export MINIO_PORT="2186"

# Postgres
export POSTGRES_DB="uigraph"
export POSTGRES_USER="uigraph"
export POSTGRES_PASSWORD="devpassword"

# Redis

# MinIO
export STORAGE_ACCESS_KEY="uigraph"
export STORAGE_SECRET_KEY="devpassword"

# Backend API
export UIGRAPH_SECRET_KEY="dev-secret-key-32-bytes-long-!!!"
export UIGRAPH_PUBLIC_URL="http://${DEV_HOSTNAME}:${UI_PORT}"
export POSTGRES_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${INFRA_HOSTNAME}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
export REDIS_URL="redis://${INFRA_HOSTNAME}:${REDIS_PORT}"
export STORAGE_ENDPOINT="http://${INFRA_HOSTNAME}:${MINIO_PORT}"
export STORAGE_PUBLIC_ENDPOINT="http://${INFRA_HOSTNAME}:${MINIO_PORT}"

# Backend GraphQL
export API_BASE_URL="http://${DEV_HOSTNAME}:${API_PORT}"
export ENV=local

# Backend Gateway
export UIGRAPH_API_URL="http://${DEV_HOSTNAME}:${API_PORT}"

# Frontend
export API_URL="http://${DEV_HOSTNAME}:${API_PORT}"
export GRAPHQL_URL="http://${DEV_HOSTNAME}:${GRAPHQL_PORT}"
export VITE_ASSETS_URL="http://${INFRA_HOSTNAME}:${MINIO_PORT}/uigraph"
