UI_HOST="127.0.0.1:2180"
API_HOST="127.0.0.1:2181"
GRAPHQL_HOST="127.0.0.1:2182"
GATEWAY_HOST="127.0.0.1:2183"
POSTGRES_HOST="127.0.0.1:2184"
REDIS_HOST="127.0.0.1:2185"
MINIO_HOST="127.0.0.1:2186"


# Frontend
export API_URL="http://${API_HOST}"
export GRAPHQL_URL="http://${GRAPHQL_HOST}"
export VITE_ASSETS_URL="${MINIO_URL}/uigraph"


# Backend API


# Backend GraphQL

# Backend Gateway

# Postgres

# Redis

# MinIO